body  {
    background-color: #1f2937;
    text-align: center;
    font-family: "Roboto";  
}

.header  {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
    padding: 10px;
}

.ul  {    
    color: #e5e7eb;
    font-size: 18px;

}

.para{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;

}

.small-para{
    color: #e5e7eb;
    font-size: 18px;

}

.signup-button  {
    color: white;
    background-color: #3882f6;

}

.text,
.container {

    color: #1f2937;
    background-color: white;
}

.quote,
.signature  {
    color: #1f2937;
    background-color: #e5e7eb;
}

.quote  {
    font-size: 36px;
    font-style: italic;
}

.signature  {
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
}

.container-2  {
    margin: 32px;
    padding: 32px;
    color: white;
    background-color: #3882f6;
}

.para-bold {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
